@use "../abstracts/mixin" as *;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;800&family=Poppins:wght@400;500;800&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
  overflow-x: hidden;
}

p {
  margin: 1em 0;
}

section {
  padding: 0 1em;

  @include mdSize {
    padding: 0 4em;
  }
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:active {
  color: transparent;
}

img {
  max-width: 100%;
}