@use "../abstracts" as *;
@use "../components/buttons" as *;

/* Hero section */

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  color: #fff;
  background: rgba(0, 7, 42, 0.8) url(../img/hero-bg1.jpg) no-repeat center center/cover;
  background-blend-mode: darken;
  display: flex;
  align-items: center;
}

// .hero::before {
//   content: '';
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background-color: rgba(0, 7, 42, 0.8);
// }

.hero-content {
  position: relative;
  z-index: 2;

  @include mdSize {
    top: 70px;
  }
}

.hero-content-inner {
  opacity: 0;
  transform: translateY(150px);
  animation: moveUp 1.5s 2.5s ease-out forwards;
}

.hero-content h1 {
  font-family: 'Poppins', sans-serif;

}

.hero-content h2 {
  position: relative;
  padding-left: 2.56em; //64px
  font-weight: 500;
}

.hero-content h2::before {
  content: '';
  position: absolute;
  left: 50px;
  height: 80%;
  width: 5px;
  background: $linear-gradient-hero;
}

.hero-content p {
  position: relative;
  width: 70%;
  max-width: 600px;
  margin: 1em 0; // 14px 0px
  font-size: 0.875rem; // 14px
}

.hero-img {
  position: absolute;
  z-index: 1;
  width: 87%;
  bottom: 20px;
  right: -30px;
  object-fit: cover;
  opacity: 0;
  animation: fade-in 2.5s 2s ease-out forwards;

  @include smSize {
    width: 82%;
    bottom: 0;
    right: -60px;
  }

  @include mdSize {
    width: 65%;
    right: -30px;
  }
}

/* Info section */
.info-inner {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.info-img {
  position: relative;
  height: 22.125em;
  width: 22.125em;
  background: url(../img/info-img-1.jpg) no-repeat center center/cover;

  @include mdSize {
    width: 31.25em;
    height: 31.25em;
  }
}

.info-inner .info-img::after {
  content: '';
  position: absolute;
  height: 19.375em;
  width: 20.375em;
  background: rgb(201, 199, 199) url(../img/info-img-2.jpg) no-repeat center center/cover;
  background-blend-mode: hard-light;
  top: 100px;
  left: 120px;

  @include mdSize {
    width: 28.875em;
    height: 27.625em;
    top: 150px;
    left: 180px;
  }
}

.info-text {
  display: flex;
  flex-direction: column;
}

.info-text h2 {
  position: relative;
  font-size: 1rem;
  font-weight: normal;
  margin-top: 2.5em;
  padding-left: 2.5em;

  @include mdSize {
    font-size: 1.1875rem;
  }
}

.info-text h2::before {
  content: '';
  position: absolute;
  height: 2px;
  width: 30px;
  background-color: $primary;
  left: 0;
  top: 50%;
}

.info-text span {
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  line-height: 1.2;
  text-transform: capitalize;
  margin: .5em 0 1em;
  font-weight: 600;
}

.info-text>*:nth-child(2) {
  position: relative;
  padding-left: 4em;
  width: 89%;
}

.info-text>*:nth-child(2)::before {
  content: '';
  position: absolute;
  height: 75%;
  width: 5px;
  background: $linear-gradient-light;
  left: 30px;
  top: 10px;
}

.info-text ul.stats {
  align-self: center;

  @include mdSize {
    display: flex;
    align-self: unset;
    justify-content: space-between;
    margin-top: 2em;
    padding-left: 3.5em;
    padding-right: 2.5em;
  }
}

ul.stats li {
  margin-bottom: 1.5em;
  text-align: center;
}

ul.stats strong {
  display: block;
  color: $primary;
  font-size: 3.125rem;
}

ul.stats span {
  font-weight: 400;
}

/*info animation */
.info-move-down {
  opacity: 0;
  transform: translateY(100px);
  transition: all 1s ease-out;
}

.info-move-right {
  opacity: 0;
  transform: translateX(100px);
  transition: all 1s ease-out;
}

.info-move-down.show,
.info-move-right.show {
  opacity: 1;
  transform: translate(0);
}

/* Experience section */
.experience {
  text-align: center;
  background: $secondary url(../img/Circle.png) no-repeat;
  background-position: -300px -200px;
}

.experience-text {
  margin-bottom: 5em;
}

.experience-text h2 {
  color: $primary;
  font-size: 1rem;
  margin: 1em 0;
}

.experience-text span {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  text-transform: capitalize;
  font-weight: 600;
}

.experience-card {
  color: $text;
  background-color: $container;
  padding: 2em;
  border-top: 5px solid $on-container;
  margin: 2em auto;
  width: 85%;
  transition: all .3s ease-out;
}

.experience-card:hover {
  background-color: #fff;
  border-top: 5px solid rgb(252, 168, 13);
}

.img-card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10.25em;
  height: 8.875em;
  background-color: $on-container;
  padding: 2.187em 0.312em;
  margin: auto;
}

.experience-card:hover .img-card {
  background: linear-gradient(180deg,
      #fd8c0a 20%,
      #f4f811 95.4%,
      rgba(255, 219, 30, 0) 100%);
}

.experience-card:hover .img-card img {
  filter: brightness(40%)
}

.text-card h4 {
  color: #fff;
  font-size: 1.563rem;
  margin: 0.64em;
}

.experience-card:hover .text-card h4 {
  color: #000;
}

/* experience-animation */

.experience-left {
  opacity: 0;
  transform: translateX(-150px);
  transition: all 1s ease-out;
}

.experience-right {
  opacity: 0;
  transform: translateX(150px);
  transition: all 1s ease-out;
}

.experience-left.show,
.experience-right.show {
  opacity: 1;
  transform: translate(0);
}

/* Team members */

.team-text {
  text-align: center;
  margin-bottom: 6em;
}

.team-text h2 {
  position: relative;
  font-size: 1rem;
  font-weight: 600;
  margin: 1em 0
}

.team-text h2::before {
  content: '';
  position: absolute;
  width: 12%;
  height: 5px;
  background: $linear-gradient-light;
  margin-left: 0.9375em;
  top: -15px;
}

.team-text span {
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}

.team-member-inner {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

.team-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.team-card-content {
  align-self: flex-start;
  padding-left: 10%;

  @include smSize {
    padding-left: 25%;
  }
}

.team-card img {
  width: 80%;
  object-fit: cover;

  @include smSize {
    width: 23.125em;
  }
}

.team-card-content h4 {
  color: $text;
  font-weight: 500;
  margin: 2.062em 0 0.312em;
}

.team-card-content h5 {
  color: $container;
  font-family: 'Poppins', sans-serif;
  margin: 0.25em 0 0.75em;
}

.team-card-content .team-icons {
  position: relative;
  width: 90%;
  padding-left: 0.9375em;
  display: flex;
  justify-content: space-between;
}

.team-card-content .team-icons::before {
  content: '';
  position: absolute;
  height: 90%;
  width: 5px;
  left: 0;
  top: -2px;
  background: $linear-gradient-light;
}

.team-icons img {
  width: 1em;
  height: 1em;
}

/* team-member animation */
.team-card-right {
  opacity: 0;
  transform: translateX(150px);
  transition: all 1s ease-out;
}

.team-card-right.show {
  opacity: 1;
  transform: translate(0);
}

/* Next project section */
.next-project {
  position: relative;
  background: url(../img/skay.jpg) no-repeat center center/cover;
  // height: 300px;
}

.next-project::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(243, 233, 233, 0.7);
  ;
}

.next-project-inner {
  display: flex;
  align-items: center;
}

.next-project-content {
  position: relative;
  z-index: 3;
}

.next-project-content h3 {
  color: $on-container;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 1em;
  max-width: 666px;

  @include smSize {
    width: 85%;
  }
}

.next-project-img {
  position: absolute;
  z-index: 2;
  object-fit: cover;
  bottom: 0;
  right: 0;
}