$primary: #fedb03;
$secondary: #002240;
$container: #022a4d;
$on-container: #12395c;
$text: #85a1b9;

$linear-gradient: linear-gradient(135deg, rgba(252, 185, 0, 1) 0%, rgba(255, 105, 0, 1) 100%);

$linear-gradient-hero: linear-gradient(180deg, #E0D828 0%, rgba(163, 30, 225, 0.780251) 99.98%, rgba(228, 105, 17, 0.479167) 99.99%, rgba(224, 216, 40, 0) 100%);