.font-xxl {
  font-size: 8rem;
}

.font-xl {
  font-size: 6rem;
}

.font-lg {
  font-size: 5rem;
}

.font-md {
  font-size: 3rem;
}

.font-sm {
  font-size: 2rem;
}

.font-sm-2 {
  font-size: 1.6rem;
}