@use "../abstracts/mixin" as *;

.font-xxl {
  font-size: 2.1875rem; //45px

  @include mdSize {
    font-size: 3.125rem; // 50px
  }

  @include lgSize {
    font-size: 4.5rem; //72px
  }

  @include xlSize {
    font-size: 5rem;
  }
}

.font-xl {
  font-size: 1.5625rem; //25px

  @include mdSize {
    font-size: 2.5rem; //40px
  }

  @include lgSize {
    font-size: 3.125rem; //0px
  }

  @include xlSize {
    font-size: 3.75rem;
  }
}

.font-lg {
  font-size: 1.875rem; //30px

  @include mdSize {
    font-size: 3.125rem //50px
  }

}

.font-md {
  font-size: 1.5626rem; //25px

  @include lgSize {
    font-size: 2.1875rem; // 35px
  }
}

.font-sm {
  font-size: 1.25rem; //20px i 35px
}

.font-sm-2 {
  font-size: 0.875rem; //14px

  @include mdSize {
    font-size: 1.25rem; // 20px
  }
}

.about-fs-lg {
  font-size: 1.875rem;

  @include mdSize {
    font-size: 2.8125rem;
  }

  @include lgSize {
    font-size: 3.125rem;
  }
}

.about-fs-lg-2 {
  font-size: 1.875rem;

  @include mdSize {
    font-size: 2.8125rem;
  }

  @include lgSize {
    font-size: 2.5rem;
  }
}

.about-fs-md {
  font-size: 1rem;

  @include mdSize {
    font-size: 1.1875rem;
  }

  @include lgSize {
    font-size: 1rem;
  }
}

.about-fs-sm {
  font-size: 0.875rem;

  @include mdSize {
    font-size: 1.25rem;
  }

  @include lgSize {
    font-size: 0.9375rem;
  }
}

.about-fs-sm-2 {
  font-size: 0.9375rem;
}