.font-xxl {
  font-size: 2.1875rem; //45px
}

.font-xl {
  font-size: 1.5625rem; //25px
}

.font-lg {
  font-size: 1.875rem; //30px
}

.font-md {
  font-size: 1.5626rem; //25px
}

.font-sm {
  font-size: 1.25rem; //20px
}

.font-sm-2 {
  font-size: 0.875rem; //14px
}