$sm: 31.25rem;
$md: 48rem;
$lg: 64rem;
$xl: 78.125rem;

@mixin smSize {
  @media (min-width: #{$sm}) {
    @content;
  }
}

@mixin mdSize {
  @media (min-width: #{$md}) {
    @content;
  }
}

@mixin lgSize {
  @media (min-width: #{$lg}) {
    @content;
  }
}

@mixin xlSize {
  @media (min-width: #{$xl}) {
    @content;
  }
}