@use "../abstracts/mixin" as *;

/*PaddingY*/

.p-y {
  padding-top: 4.375em;
  padding-bottom: 4.375em;

  @include lgSize {
    padding-top: 6.25em;
    padding-bottom: 6.25em;
  }
}

.p-y-2 {
  padding-top: 4.375em;
  padding-bottom: 4.375em;

  @include lgSize {
    padding-top: 12.5em;
    padding-bottom: 12.5em;
  }
}