@use "../abstracts/colors" as *;
@use "../abstracts/mixin" as *;

header {
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.25em 1em; // 20px 16px
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include mdSize {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.25em 4em;
  }

  @include lgSize {
    flex-direction: row;
    justify-content: space-between;
  }
}

.header-position {
  position: relative;
  min-height: 6.5em;
  background: $secondary;

  @include mdSize {
    min-height: 9.375em;
    padding: 0 4em;
  }

  @include lgSize {
    min-height: 5em;
  }
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(100%);
  transition: transform 0.5s ease;

  @include mdSize {
    position: unset;
    width: auto;
    height: auto;
    background: none;
    transform: translateX(0);
    justify-content: unset;

  }
}

.activeLi a {
  @include mdSize {
    color: $primary;
  }
}

.show-nav {
  transform: translateX(0);
}

nav ul {
  @include mdSize {
    display: flex;
  }
}

nav ul li {
  margin: 0.4em 2em;
}

nav a {
  display: block;
  text-align: center;
  padding: 1.114em 0; //39px
  color: $secondary;
  font-size: 2.1875rem; //35px
  font-family: 'Poppins', sans-serif;
  font-weight: 500;

  @include mdSize {
    position: relative;
    font-size: 1rem;
    color: #fff;
    padding: 2px;

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #fff;
      bottom: 0;
      left: 0;
      transform: scale(0, 1);
      // transform-origin: 0% 100%;
      transition: transform .3s ease-out;
    }

    &:hover::before {
      transform: scale(1, 1);
    }
  }
}

nav a:hover {
  opacity: 0.8;

  @include mdSize {
    opacity: 1;
  }
}

/* hamburger */
.hamburger {
  display: inline-block;
  position: relative;
  z-index: 10;
  border: none;
  background: none;
  width: 1.5rem; //24px
  height: 1.5rem; // 24px
  cursor: pointer;
  transform: rotate(0);
  transition: all 0.5s ease;

  @include mdSize {
    display: none;
  }
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition: all 0.45s ease;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

.open .hamburger-top,
.open .hamburger-bottom {
  background-color: $secondary;
}